<link href="style.css" rel="stylesheet" type="text/css" media="all"/>

{% extends 'core/base.html' %}

{% load static %}

{% block title %}Muestra{% endblock %}

{% block content %}

    <!--Login-->
    <section class="page-section">
        <div class="container text-center"
             style="color: white; border-radius: 25px;background: #301810;padding: 20px; width: 800px;height: 450px;">

            <div class="container text-center" style="color: white; border-radius: 25px;background: #e6a756;">
                <h1>Iniciar Sesion</h1>
            </div>
            <br/>
            <div class="container text-center">
                <form method="POST" class="text-center">
                    {% csrf_token %}
                    {#                {{ login_form }}#}
                    <div>
                        <div><span>Nombre</span></div>
                        <img src="{% static 'core/img/username.png' %}" alt="" width="20" height="20">
                        {{ login_form.username }}
                    </div>
                    <br/>
                    <div>
                        <div><span>Contraseña</span></div>
                        <img src="{% static 'core/img/key.png' %}" alt="" width="20" height="20">
                        {{ login_form.password }}
                    </div>
                    <br/>
                    <button class="btn btn-primary" type="submit">Iniciar Sesion</button>
                </form>
                <div>
                    <p class="text-center">¿Aun no tienes cuenta?
                        <br/>
                        <a href="{% url 'signup' %}">Crear cuenta nueva</a></p>
                </div>

            </div>


        </div>
    </section>
{% endblock %}