{% extends 'core/base.html' %}

{% load static %}

{% block title %}DeyDol{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Clinica veterinaria DeyDol</span>
              <span class="section-heading-lower">Sobre nosotros</span>
            </h2>
            <p>
                Bienvenidos a nuestra clínica veterinaria, donde nos dedicamos a cuidar de la salud y el bienestar de sus mascotas.
                Somos un equipo de profesionales altamente capacitados y comprometidos con el cuidado de los animales.
            </p>
              <p>
                  En nuestra clínica, ofrecemos una amplia gama de servicios veterinarios, desde consultas generales hasta cirugías y tratamientos especializados. Además,
                  contamos con tecnología de última generación y equipos médicos avanzados para garantizar la atención más completa y precisa.
              </p>
              <p>
                  Nos enorgullece brindar un ambiente cálido y acogedor para sus mascotas, donde pueden sentirse cómodas y seguras durante su visita. Nuestro objetivo es establecer una relación
                  cercana con nuestros pacientes y sus dueños, y trabajar juntos para mantener la salud y la felicidad de sus amados animales.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}